  {{this.id}}. {{this.burger_name}}

    <button type = "button" class="devour-burger btn btn-danger" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Devour it!{{else}}THROW UP BURGER!{{/if}}
    </button>

  

    {{!-- {{this.id}}. {{this.burger_name}} {{this.devoured}} --}}



    