  <li>
    {{this.id}}. {{this.burger_name}}

    <button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}EAT-Da-Burger!{{else}}THROW UP BURGER!{{/if}}
    </button>

    </li>

    {{!-- {{this.id}}. {{this.burger_name}} {{this.devoured}} --}}